@import "./src/scss/_mixins.scss";
@import "./src/scss/_fonts.scss";

.s-section {
  background-color: $colorgr;

  &__title {
    @include Roboto;
    color: white;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.02em;
  }

  &__spa {
    color: $coloryel;
  }
}
